<jt-spinner
        {{#loading}}active="{{loading}}"{{/loading}}
        message="{{message}}"
        {{#showTime}}showTime="{{showTime}}"{{/showTime}}
        {{#overlay}}overlay="{{overlay}}"{{/overlay}}
></jt-spinner>