<jt-button
        label="{{label}}"
        component-id="{{getId}}"
        type="{{type}}"
        {{#icon}}
        icon="{{icon}}"
        {{/icon}}
        {{#help}}
        help="{{help}}"
        {{/help}}
        {{#disabled}}
        disabled
        {{/disabled}}
        {{#useContainerWidth}}
        use-container-width
        {{/useContainerWidth}}
></jt-button>