<jt-slider
        label="{{label}}"
        min="{{min}}"
        max="{{max}}"
        value="{{currentValue}}"
        step="{{step}}"
        {{#format}}
            format="{{format}}"
        {{/format}}
        component-key="{{getKey}}"
        {{#help}}
        help="{{help}}"
        {{/help}}
        {{#disabled}}
            disabled
        {{/disabled}}
        label-visibility="{{labelVisibility}}"
        width="{{width}}"
></jt-slider>