<jt-form
form-key="{{getKey}}"
data-container="{{currentValue.frontendDataContainerField}}"
data-form-key="{{getKey}}"
{{#height}}height="{{height}}"{{/height}}
{{#border}}border{{/border}}
></jt-form>