<jt-form-submit-button
label="{{label}}"
component-key="{{getKey}}"
type="{{type}}"
{{#icon}}icon="{{icon}}"{{/icon}}
{{#help}}help="{{help}}"{{/help}}
{{#disabled}}disabled{{/disabled}}
{{#useContainerWidth}}use-container-width{{/useContainerWidth}}
width="{{width}}"
value="{{currentValue}}"></jt-form-submit-button>