<jt-popover
label="{{label}}"
{{#help}}help="{{help}}"{{/help}}
{{#disabled}}disabled{{/disabled}}
{{#useContainerWidth}}use-container-width{{/useContainerWidth}}
data-container="{{currentValue.frontendDataContainerField}}"
></jt-popover>