<jt-link-button
label="{{label}}"
url="{{url}}"
type="{{type}}"
{{#icon}}
icon="{{icon}}"
{{/icon}}
{{#help}}
help="{{help}}"
{{/help}}
{{#disabled}}
disabled
{{/disabled}}
{{#useContainerWidth}}
use-container-width
{{/useContainerWidth}}
width="{{width}}"></jt-link-button>