<jt-number-input
label="{{label}}"
value="{{currentValue}}"
{{#minValue}}
min-value="{{minValue}}"
{{/minValue}}
{{#maxValue}}
max-value="{{maxValue}}"
{{/maxValue}}
step="{{step}}"
{{#format}}
format="{{format}}"
{{/format}}
{{#help}}
help="{{help}}"
{{/help}}
{{#placeholder}}
placeholder="{{placeholder}}"
{{/placeholder}}
{{#disabled}}
disabled
{{/disabled}}
label-visibility="{{labelVisibility}}"
{{#icon}}
icon="{{icon}}"
{{/icon}}
width="{{width}}"
component-key="{{getKey}}"
></jt-number-input>