<jt-text-area
label="{{label}}"
value="{{currentValue}}"
{{#height}}
height="{{height}}"
{{/height}}
{{#maxChars}}
max-chars="{{maxChars}}"
{{/maxChars}}
{{#help}}
help="{{help}}"
{{/help}}
{{#placeholder}}
placeholder="{{placeholder}}"
{{/placeholder}}
{{#disabled}}
disabled
{{/disabled}}
label-visibility="{{labelVisibility}}"
{{#icon}}
icon="{{icon}}"
{{/icon}}
width="{{width}}"
component-key="{{getKey}}"
></jt-text-area>