<jt-text-input
label="{{label}}"
value="{{currentValue}}"
{{#maxChars}}
max-chars="{{maxChars}}"
{{/maxChars}}
type="{{type}}"
{{#help}}
help="{{help}}"
{{/help}}
{{#autocomplete}}
autocomplete="{{autocomplete}}"
{{/autocomplete}}
{{#placeholder}}
placeholder="{{placeholder}}"
{{/placeholder}}
{{#disabled}}
disabled
{{/disabled}}
label-visibility="{{labelVisibility}}"
{{#icon}}
icon="{{icon}}"
{{/icon}}
width="{{width}}"
component-key="{{getKey}}"
></jt-text-input>