name: Tests
on:
  push:
    branches: [main]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  workflow_dispatch:

jobs:
  run-test:
    name: Build and run tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            jdk: 21
          - os: ubuntu-latest
            jdk: 25
          - os: windows-latest
            jdk: 21
    timeout-minutes: 8
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          java-version: '${{ matrix.jdk }}'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build and run tests
        run: |
          ./mvnw clean test
        shell: bash
      - name: Upload Playwright artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-recordings
          overwrite: true
          path: |
            target/playwright-traces/
            target/surefire-reports/
          retention-days: 1  
